body {
  margin: 0;
  font-family: Libre Baskerville !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #505267 !important;
  min-height: 100vh !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Layout page css */
.signup-item {
  /* Button/secondary/regular */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 100px;
  height: 36px;

  /* White */

  background: #ffffff !important;
  border-radius: 8px;
  border: 1px solid #505267 !important;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.main-nav {
  position: absolute;
  /* width: 1440px; */
  height: 72px;
  left: 0px;
  top: 0px;

  /* White */

  background: #ffffff;
  /* Elevation/Light/2px

Contained button (resting)
*/
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
}

.footer-ul,
.header-ui {
  list-style: none;
  display: flex;
}
ul.footer-ul.mb-0 {
  display: flex !important;
  padding: 0;
}

.footer-ul-2 {
  float: right;
}

.header-ui li {
  margin-right: 5px;
}
.footer-ul li {
  margin-right: 5px;
}
.float-right {
  float: right;
}
.devider-col {
  padding: 0;
}

/* layout page css */

/* createAccount page */
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.custom-75 {
  margin-right: 13%;
}
.select-account {
  width: 40px;
  height: 20px;

  /* Subtitle/2 */

  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.1px;

  /* Black/100 */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.my-thumbnail {
  padding: 0 !important;
  border: none !important;
  width: 100%;
  border-radius: unset !important;
  -webkit-border-radius: unset !important;
  -moz-border-radius: unset !important;
  -ms-border-radius: unset !important;
  -o-border-radius: unset !important;
}

.next-btn-bg {
  background-color: #acd9dc;
}

.custom-row {
  position: relative;
  min-height: 160vh;
}
.container-custom {
  margin: 0px 15%;
}

.custom-row .next-btn-bg {
  text-align: right;
  position: absolute;
  bottom: 0px;
  /* width: inherit; */
}
.left-col {
  /* padding: 0px 20px !important; */
}
.right-col-img {
  background: url("/public/images/beach-2.jpg");
  z-index: 9;
  min-height: 100vh !important;
}
label {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #000000;
}

button.btn.btn-secondary {
  margin: 12px 24px;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  isolation: isolate;

  width: 66px;
  height: 36px;

  /* Black/60 */

  background: #bab8b8;
  /* Elevation/Light/2px

Contained button (resting)
*/
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.left-col select#select-opt {
  line-height: 2.5;
}
.signup-li {
  margin-left: 8px;
  margin-right: 2px;
}
.hide-image-sm {
  display: none;
}

.header-ui {
  margin: 0;
}
.signup-li button {
  padding: 0;
  height: 36px;
}
.footer-ul p {
  font-weight: 400;
  letter-spacing: 0.5px;
}
.header-ui svg {
  vertical-align: -webkit-baseline-middle;
}
.right-col-img {
  background-size: cover;
  background-position: center;
}
.custom-container {
  margin-left: 15%;
}
.hidden {
  display: none;
}

@media screen and (max-width: 409px) {
  .navbar-brand img {
    width: 106px;
  }
}

@media screen and (max-width: 540px) {
  .col-md-6.align-items-center {
    width: 100%;
  }

  .custom-col-footer {
    width: 100%;
  }
  /* .col-md-5 {
    display: none;
  } */
  ul.footer-ul.mb-0 {
    display: list-item !important;
  }
  .footer-ul-2 {
    float: left !important;
  }
  .resposive-hide {
    display: none;
  }
  .custom-row .next-btn-bg {
    bottom: -63px !important;
  }
  .hide-image-sm {
    display: block;
  }
  .hide-image-pc {
    display: none;
  }
  .first-item-nav {
    margin: 10px 1px;
  }
  .footer-ul p {
    margin: 0;
  }
  .first-item-nav-2 {
    margin-top: 10px;
  }
}

.row.custom-row {
  min-height: 52rem !important;
}
@media screen and (max-width: 768px) {
  .custom-row .next-btn-bg {
    bottom: -63px !important;
    /* position: unset; */
  }

  footer.container.my-container.d-flex.flex-wrap.justify-content-between.align-items-center {
    padding-top: 60px !important;
  }

  .custom-col-footer {
    width: 100%;
  }

  .hide-image-sm {
    display: block;
  }
  .hide-image-pc {
    display: none;
  }
  .right-col-img {
    height: 600px;
  }

  ul.footer-ul.mb-0 {
    display: list-item !important;
  }
  .footer-ul-2 {
    float: left !important;
  }
  .resposive-hide {
    display: none;
  }
}
