@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
  margin: 0;
  font-family: Libre Baskerville !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #505267 !important;
  min-height: 100vh !important;
}

input,
textarea,
select {
  font-family: inherit !important;
}

.input {
  padding: 5px;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Layout page css */
.signup-item {
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  top: 0px;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
  border: 1px solid rgb(80, 82, 103) !important;
}

.nav-bar-img {
  width: 200px !important;
}

.main-nav {
  height: 72px;

  background: #ffffff;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
}

.footer-ul,
.header-ui {
  list-style: none;
  display: flex;
}

ul.footer-ul.mb-0 {
  display: flex !important;
  padding: 0;
}

.footer-ul-2 {
  float: right;
}

.header-ui li {
  margin-right: 5px;
}

.footer-ul li {
  margin-right: 5px;
}

.float-right {
  float: right;
}

.devider-col {
  padding: 0;
}

/* layout page css */

/* createAccount page */
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.nav-bar-img {
  padding: 0 !important;
}

.container-.position-absolute-.h-100- {
  /* min-height: 100vh; */
}

.custom-75 {
  margin-right: 13%;
}

.select-account {
  /* width: 40px; */
  /* height: 20px; */
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.form-check-label {
  margin-bottom: 0;
}

.second-step > * {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.my-thumbnail {
  padding: 0 !important;
  border: none !important;
  width: 100%;
  border-radius: unset !important;
  -webkit-border-radius: unset !important;
  -moz-border-radius: unset !important;
  -ms-border-radius: unset !important;
  -o-border-radius: unset !important;
}

.my-thumbnail-ring {
  margin-top: 5px;
  border: none !important;
  border-radius: unset !important;
  -webkit-border-radius: unset !important;
  -moz-border-radius: unset !important;
  -ms-border-radius: unset !important;
  -o-border-radius: unset !important;
}

.next-btn-bg {
  background-color: #acd9dc;
}

.col-md-6.col-sm-6.mb-3.pl-0.pr-0 {
  padding-right: 5px !important;
}

.custom-row {
  position: relative;
  /* min-height: 160vh; */
}

.container-custom {
  margin: 0px 15%;
}

.custom-row .next-btn-bg {
  text-align: right;
  /* position: absolute; */
  bottom: 0px;
}

.right-col-img {
  background: url("/public/images/beach-2.jpg");
  z-index: 9;
  /* min-height: 100vh !important; */
}

.input-group-text {
  cursor: pointer;
}

label {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #000000;
}

.custom-label-input {
  height: 24px;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #000000;
}

.offering-box {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #000000;
}

input[type="checkbox"] {
  accent-color: #00767c !important;
}

.form-check-input:checked {
  background-color: #00767c !important;
  border-color: #00767c !important;
}

button.btn.btn-secondary {
  background: #505267;
}

.navigate-btn {
  margin: 8px 8px;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  isolation: isolate;

  /* width: 66px; */
  height: 36px;
  /* background: #bab8b8; */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.left-col select#select-opt {
  line-height: 2.5;
}

.signup-li {
  margin-left: 8px;
  margin-right: 2px;
}

.hide-image-sm {
  display: none;
}

.header-ui {
  margin: 0;
}

.signup-li button {
  padding: 0;
  height: 36px;
}

.footer-ul p {
  font-weight: 400;
  letter-spacing: 0.5px;
}

.header-ui svg {
  vertical-align: -webkit-baseline-middle;
}

.right-col-img {
  background-size: cover;
  background-position: center;
}

.custom-container {
  margin-left: 15%;
}

.hidden {
  display: none;
}

.vender-opt {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 12px 12px;
  /* gap: 156px; */
  background: #ffffff;
  border: 1px solid #505267;
  backdrop-filter: blur(2px);
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.vender-opt:hover {
  border: 1px solid #00767c;
  background-color: #acd9dc;
}

.ring-image {
  margin-bottom: -100px;
}

.active-vender {
  background: #00767c;
  border: 1px solid #00767c;
  color: #ffffff;
}

.vender-opt.active-vender:hover {
  background: #00767c;
  border: 1px solid #00767c;
  color: #ffffff;
}

.signup-item:hover {
  background: #acd9dc !important;
  border: 1px solid #00767c !important;
}

.budget-icon {
  background: unset !important;
  border: 0;
  margin-right: -32px;
  z-index: 99;
  border: unset !important;
}

.cart-icon:hover .cart-icon-fill {
  fill: #4cabb0 !important;
}

.next-btn-bg div {
  margin: 20px 0px;
}

.next-btn-bg .navigate-btn {
  box-shadow: unset !important;
  border: 1px solid black;
}

textarea#exampleFormControlTextarea1 {
  height: unset !important;
}

input#budget {
  padding-left: 28px;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.i-icon {
  padding: 0px 5px;
  border: 0.5px solid gray;
  border-radius: 50%;
  font-size: 10px;
}

.active-apartment {
  display: block !important;
}

.tooltip-inner {
  text-align: left !important;
  background: #505267 !important;
  border-radius: 4px;
  font-family: Libre Baskerville !important;
}

.col-md-6.right-col-img.hide-image-pc {
  min-height: 100vh !important;
  margin-bottom: -52px;
}

.col-md-6.right-col-img.hide-image-sm {
  height: 400px;
}

.text-cyan {
  background: #00767c;
  color: #00767c;
}

.hr-devider {
  height: 2px;
}

.custom-muted {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #505267;
}

.form-control:focus,
.form-select:focus {
  border-color: #00767c !important;
  box-shadow: unset !important;
}

.mb-30vh {
  margin-bottom: 30vh;
}

select,
.form-control {
  height: 55px !important;
}

.aprtment-p {
  font-weight: 700 !important;
  font-size: 14px !important;

  letter-spacing: 0.5px;
  text-decoration-line: underline;
  color: #00767c !important;
  flex: none;
  order: 2;
  flex-grow: 0;
}

h1 {
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 40px !important;
  letter-spacing: 0.25px !important;
}

p {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.5px !important;
  color: #505267 !important;
}

.btn-grp button {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  letter-spacing: 0.5px !important;
  /* color: #ffffff; */
}

.drag {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  letter-spacing: 0.5px !important;
  color: #505267 !important;
}

.radio-custom-parant {
  background: rgba(120, 122, 143, 0.15) !important;
}

.alert-files {
  display: none;
}

.rating-p {
  margin-right: 15px;
  font-weight: 400 !important;
  font-size: 10px !important;
  line-height: 16px !important;
  text-align: center !important;
  letter-spacing: 1.5px !important;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.paddin-lr {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.price-text {
  font-size: 10px;
  line-height: 16px;

  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: #000000 !important;
}

.theme-colo {
  color: #505267 !important;
}

.color-cyan {
  color: #00767c !important;
}

.p-bottom-margin {
  margin-bottom: 4px;
}

.price-amount {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.5px !important;
  color: #000000 !important;
}

.price-amount-box {
  padding: 0px 8px;
  gap: 10px;
  width: 135px;
  height: 24px;
  background: #ffd8e1;
}

.contact-icon {
  margin-right: 10px;
}

.listing-page input {
  height: unset !important;
  border: none;
  width: 20px;
  text-align: center !important;
  padding: 0px !important;
}

.listing-page .input-group {
  flex-wrap: initial !important;
}

.listing-page .input-group.col {
  padding: 0px !important;
}

.quantity-add-box {
  margin-left: 1px;
}

.listing-page .input-group {
  border: 1px solid #00767c !important;
  border-radius: 8px;

  color: #00767c !important;
}

.listing-page span.input-group-text {
  background-color: unset !important;
  color: #00767c !important;
  font-size: 23px;
  font-weight: bold;
  border: unset !important;
}

.add-to-cart-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 4px;
  isolation: isolate;
  color: white !important;
  background: #505267 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 5px rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px !important;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.radio-custom-img {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.5px;

  /* Black/100 */

  color: #000000;
}

.uploaded-text {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  color: #505267 !important;
  margin-top: 17px;
}

.social-media input.form-contro {
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
}

.social-icon {
  padding: 0.375rem 0.375rem !important;
}

.social-group input {
  padding-left: 32px !important;
}

.cutBtn {
  text-align: right;
  position: relative;
  top: -2px;
  height: 0;
  color: white;
  margin-right: 10px;
  font-size: 23px;
  font-family: monospace;
  top: -3px;
  cursor: pointer !important;
}

@media screen and (max-width: 409px) {
  .navbar-brand img {
    width: 106px;
  }

  ul.footer-ul.mb-0.first {
    margin-top: 69px;
  }
}

@media screen and (max-width: 540px) {
  .col-md-6.align-items-center {
    width: 100%;
  }

  ul.footer-ul.mb-0.first {
    margin-top: 69px;
  }

  .custom-col-footer {
    width: 100%;
  }

  ul.footer-ul.mb-0 {
    display: list-item !important;
  }

  .footer-ul-2 {
    float: left !important;
  }

  .resposive-hide {
    display: none;
  }

  .custom-row .next-btn-bg {
    bottom: -63px !important;
  }

  .hide-image-sm {
    display: block;
  }

  .hide-image-pc {
    display: none;
  }

  .first-item-nav {
    margin: 10px 1px;
  }

  .footer-ul p {
    margin: 0;
  }

  .first-item-nav-2 {
    margin-top: 10px;
  }
}

.slick-next:before {
  /* content: '>'; */
  color: #00767c !important;
}

.slick-prev:before {
  content: "<";
  color: #00767c !important;
}

.row.custom-row {
  /* min-height: 52rem !important; */
}

.m-b-custom {
  margin-bottom: 31rem;
}

.col-md-6.order-md-0.order-1.position-relative-.p-0- {
  padding: 0;
}

.second-form {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

/* new csss */
li.list_info.active {
  padding-bottom: 7px;
  border-bottom: 1px solid #00767c;
  color: #00767c;
}

li.list_info {
  /* padding: 8px 19px; */
}

li.list_info.active path {
  fill: #00767c;
}
.list_info:hover {
  color: #00767c;
}

.list_info:hover svg path {
  fill: #00767c;
}
.list_info.active {
  fill: #00767c;
}
.hover-div ul {
  text-align: center;
}

.custom-search {
  min-height: 100vh !important;
}

.heading_first {
  font-weight: 400;
  line-height: 65px;
  letter-spacing: -0.5px;
  margin-top: 200px !important;
}

.img-bg {
  background-image: url("/public/images/beach.png");
}

.list_info {
  margin-right: 20px;
  list-style: none;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.country_part {
  background: white;
  color: black;
  border: none !important;
}

.first_column {
  border: 1px solid #505267;
  border-radius: 20px;
  display: flex;
}

.lower_content {
  display: flex;
  align-items: center;
}
.search_btn {
  height: -webkit-fill-available;
}
.search_btn:hover {
  background-color: #00767c !important;
  color: white;
}
.custom-space {
  margin-left: 25px !important;
}
.search-div {
  margin-bottom: 300px;
}
.content_after {
  margin-top: 17px !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.border_style {
  border-radius: 10px;
  border: 1px solid #787a8f;
  background-color: white !important;
}

.cancel_custom {
  display: none !important;
}

/* ++++ */

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.1018 8C5.02785 8 4.45387 9.2649 5.16108 10.0731L10.6829 16.3838C11.3801 17.1806 12.6197 17.1806 13.3169 16.3838L18.8388 10.0731C19.5459 9.2649 18.972 8 17.898 8H6.1018Z' fill='%23212121'/%3E%3C/svg%3E") !important;
}

@media screen and (max-width: 320px) {
  .heading_first {
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-top: 50px !important;
    width: 268px !important;
    font-size: 30px;
  }
  a.btn.btn-light.signup-item {
    font-size: 12px;
}
  .list_info {
    text-align: center;
  }
  .last_part {
    margin-top: 20px !important;
    text-align: end !important;
  }
  .first_column {
    border: none;
  }
  .lower_content {
    border: 1px solid #505267;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 640px) {
  .heading_first {
    font-size: 48px;
    margin-top: 100px !important;
  }
  .list_info {
    margin-top: 50px !important;
  }
  .first_column {
    border: none;
  }
  .lower_content {
    border: 1px solid #505267;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .last_part {
    margin-top: 20px !important;
    text-align: end !important;
  }
}
@media screen and (max-width: 778px) {
  .nav-col-5 {
    width: 50% !important;
  }

  .custom-col-1 {
    display: none;
  }

  .m-b-custom {
    margin-bottom: 1rem !important;
  }

  .col-md-6.col-sm-6.mb-3.pl-0.pr-0 {
    padding-right: 0px !important;
  }
}

/* @media screen and (min-width: 1380px) {
  .container-.position-absolute-.h-100- {
    min-height: 120vh;
  }
} */
@media screen and (max-width: 768px) {
  ul.header-ui.float-right.mt-3.px-md-5 {
    padding-left: 0;
  }

  .custom-row .next-btn-bg {
    bottom: -63px !important;
  }

  .nav-col-5 {
    width: 50% !important;
  }

  ul.footer-ul.mb-0.first {
    margin-top: 20px;
  }

  footer.container.my-container.d-flex.flex-wrap.justify-content-between.align-items-center {
    padding-top: 60px !important;
  }

  .custom-col-footer {
    width: 100%;
  }

  .hide-image-sm {
    display: block;
  }

  .hide-image-pc {
    display: none;
  }

  ul.footer-ul.mb-0 {
    display: list-item !important;
  }

  .footer-ul-2 {
    float: left !important;
  }

  .resposive-hide {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container-.position-absolute-.h-100- {
    min-height: 105vh;
  }
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-file-upload {
  height: 16rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.custom-progress {
  height: 6px !important;
}

.custom-progress .bg-danger {
  background-color: #ed474a !important;
}

.custom-progress .bg-warning {
  background-color: #ee8434 !important;
}

.custom-progress .bg-success {
  background-color: #abdf75 !important;
}

.form-error {
  margin-top: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #b00000;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.form-error img {
  margin-right: 6px;
  vertical-align: middle;
}

.error-input {
  border: 1px solid #b00000 !important;
}

.error-form-label {
  color: #b00000 !important;
}
.added-to-cart-btn {
  border: 1px solid !important;
  margin-bottom: 0px;
}

@media screen and (max-width: 320px) {
  .heading_first {
    line-height: 40px;
    letter-spacing: -0.25px;
    font-size: 36px !important;
  }

  .list_info {
    text-align: center;
  }

  .last_part {
    margin-top: 20px !important;
    text-align: end !important;
  }

  .first_column {
    border: none;
  }

  .lower_content {
    border: 1px solid #505267;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .border_style {
    border: none !important;
  }

  .below_border_style {
    border: 1px solid #505267;
    border-radius: 10px;
    margin-bottom: 5px !important;
    width: 100% !important;
  }

  .search_btn {
    font-size: 16px !important;
    font-weight: 300 !important;
    letter-spacing: 0.5px !important;
    margin-top: 10px;
    float: right;
    margin-bottom: 50px;
  }

  .cancel_custom {
    display: inline-block !important;
    margin-top: 13px;
    margin-left: 62px;
    width: 90px;
  }
}

@media screen and (max-width: 640px) {
  .heading_first {
    font-size: 48px;
    margin-top: 100px !important;
  }

  .list_info {
    margin-top: 50px !important;
  }

  .first_column {
    border: none;
  }

  .lower_content {
    border: 1px solid #505267;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .last_part {
    margin-top: 20px !important;
    text-align: end !important;
  }

  .border_style {
    border: none !important;
  }

  .below_border_style {
    border: 1px solid #505267;
    border-radius: 10px;
    margin-bottom: 5px !important;
    width: 100% !important;
  }

  .search_btn {
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0.5px !important;
    margin-top: 35px;
    margin-bottom: 50px;
    float: right;
  }
}

@media screen and (max-width: 991px) {
  .border_style {
    border: none !important;
    background-color: transparent !important;
  }
  .below_border_style {
    border: 1px solid #505267;
    border-radius: 10px;
    margin-bottom: 5px !important;
    background-color: white !important;
  }
  .hide_symbol {
    display: none !important;
  }
  .search_btn {
    margin-top: 10px;
    margin-bottom: 50px;
  }
}
